<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- loading 3rd party CSS libraries -->
	<link rel="stylesheet" href="/assets/css/atom-one-light.css">
	<link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

    {% if page.title or page.title == 'me' %}
        <title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/002.css">
    {% else %}
        <title>{{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/001.css">
    {% endif %}

	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- desktop shortcut -->
    <div class="short-cut-wrapper">
        <div class="my-pc">
            <a href="/desktop/about">
                <div><img src="/assets/img/win95.gif"></div>
                <div class="my-pc-text">My Computer</div>
            </a>
        </div>

        <div class="angular">
            <a href="/desktop/angular">
                <div><img src="/assets/img/angular.png"></div>
                <div class="angular-text">Angular</div>
            </a>
        </div>

        <div class="react">
            <a href="/desktop/react">
                <div><img src="/assets/img/react.png"></div>
                <div class="react-text">React</div>
            </a>
        </div>
    </div>

	<div class="wrapper">
        <!-- Hard disk area -->
		<div class="default_title">
			<img src="/assets/img/mycomputer.png" />
			{% if page.tag %}
				<h1>{{ page.tag }}</h1>
			{% else %}
				<h1>{{ site.name }}</h1>
			{% endif %}
            <div class="btn btn_question"><span class="fa fa-question"></span></div>
		</div>
		{% include topbar.html %}
		<div class="tag_list">
			<ul id="tag-list">
				<li><a href="/" ><img src="/assets/img/disk.png" />(C:)</a>
			<ul>
				{% assign tags = site.tags | sort %}
				{% for tag in tags %}
				<li><a href="/tag/{{ tag | first | slugify }}/" title="{{ tag[0] | replace:'-', ' ' }}"><img src="/assets/img/folder.ico" />{{ tag[0] | replace:'-', ' ' }}</a></li>
				{% endfor %}
			</ul>
				</li>
			</ul>
		</div>
		<div class="post_list">
			{% unless page.date%}
				{% if page.title == 'me' or page.title == '404...' %}
					<ul>
						{% for post in site.posts %}
						<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					{{ content }}
				{% endif %}
			{% else %}
				<ul>
					{% for post in site.posts %}
					<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endunless %}
		</div>
		<div class="post_total">
			{% if page.tag %}
				<div class="left">{{ site.tags[page.tag] | size }} object(s)</div>
			{% else %}
				<div class="left">{{ site.posts | size }} object(s)</div>
			{% endif %}
			<div class="right">&nbsp;</div>
		</div>
	</div>

    <!-- File content display area -->
	{% if page.title %}
        <div class="content">
			<div class="post_title">
				<img src="/assets/img/file.png" />
				<h1>{{  page.title  }}</h1>
				<a href="/"><div class="btn"><span class="fa fa-times"></span></div></a>
				<div class="btn btn_max"><span class="fa fa-window-maximize"></span></div>
				<div class="btn btn_min"><span class="fa fa-window-minimize"></span></div>
			</div>
			<ul class="topbar">
				<li>{{ page.date | date: '%B %-d, %Y' }}</li>
			</ul>
			<div class="post_content">
        		{{ content }}
				{% if page.title %}
					{% include signature.html %}
				{% endif %}
			</div>
		</div>
    {% endif %}

    <!-- taskbar area -->
    <div class="taskbar">
        <div class="start startNotclicked"><img src="/assets/img/windows.gif" />Start</div>
        <div class="time"></div>
    </div>

    <!-- copy right issue area -->
    <div class="copy-right-issue">
        <div>Windows 95</div>
        <div>Build 0626</div>
        <div>This copy of Windows is not genuine</div>
    </div>

    <!-- blue screen area -->
    <div class="bluescreen"></div>

    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/button-function.js"></script>
    <script src="/assets/js/code-line-number.js"></script>
    <script src="/assets/js/task-bar.js"></script>
    <script src="/assets/js/random-joke.js"></script>
    <script src="/assets/js/console.js"></script>
</body>

</html>